@charset "UTF-8";

@media screen and (min-width: 280px) and (max-width:500px){
    
    img {
        width: 100px;
    }
    #bomdia {
        width: 90%;
        height: 150px;
    }
    input {
        background-color: white;
    }
    main {
        width: 90%;
    }
}