body {
    margin: auto;
    text-align: center;
    background-color: rgba(174, 174, 236, 0.356);
}
#um{ /*Div do logo*/
    background-color: rgba(35, 166, 226, 0.616);
}
#categoriasnav { /*HOME-PROMOÇOES*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 50px;
    color: black;
}
#categoriasnav a:hover {
    color: red;
}
#categorias { /*Alimenticios, Bomboniere, Calcados, etc.*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    
    color: black;
}
#categorias a:hover {
    color: red;
    border: 10px red;
    background-color: black;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

div#categorias {
    background-color: rgba(35, 166, 226, 0.616);
}
main {
    padding: 0px;
    margin: 0px;
    background-color: rgb(131, 131, 248);
    width: 90%;
    border-radius: 3px;
    margin: auto;
}
section > div {
    width: 250px;
    background-color: lightblue;
    display: inline-block;
    border: 10px;
    padding: 10px;
    margin-right: 100px;
}

img {
   width: 250px;
}
