header {
    align-items: center;
    justify-content: space-between;
}
header > img {
    width: 250px;
}
#um { /*Div do logo*/
    background-color: rgba(35, 166, 226, 0.616);
}
form input, form button {
    font-size: 1.2em;
}
input { /*Lacuna do formulario*/
    height: 35px;
    margin-bottom: 10px;
}
button { /*Botao do formulario*/
    background-color: white;
    border: white;
    height: 40px;
    cursor: pointer;
    margin: 0%;
}
.nav {
    display: inline-block;
}
.nav > a {
    
    border-radius: 10px;
    text-decoration: none;
}
.nav >img {
    width: 50px;
}
body {
    margin: auto;
    text-align: center;
    background-color: rgba(174, 174, 236, 0.356);
}

#categoriasnav { /*HOME-PROMOÇOES*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 50px;
    
}
#categoriasnav a:hover {
    color: red;
}
#categorias { /*Alimenticios, Bomboniere, Calcados, etc.*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
img {
    border-radius: 50px;
}
#categorias a:hover {
    color: red;
    border: 10px red;

}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

div#categorias {
    background-color: rgba(35, 166, 226, 0.616);
}
main {
    padding: 0px;
    margin: 0px;
    background-color: rgb(131, 131, 248);
    width: 90%;
    border-radius: 3px;
    margin: auto;
}
section > div {
    width: 250px;
    background-color: lightblue;
    display: inline-block;
    border: 10px;
    padding: 10px;
    margin-right: 100px;
}

 #categoriasimg {
   width: 50px;
}
