@charset "UTF-8";

@media screen and (min-width: 220px) and (max-width: 700px) {
    
    * {
        margin: 0px;

    }
    header {
    position: relative;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    body, html {
        width: 100%;
    }
    body {
        background-position: center center ;
        background-size: cover ;
        background-repeat: no-repeat;
        height: 100vh;
        background-attachment: fixed;
    }
   #img {
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    #img:hover {
        width: 7%;
        border: 2px solid rgba(0, 0, 0, 0.329);
        background-color: #6b6bc3;
    }
    #img2:hover {
        width: 7%;
        border: 2px solid rgba(0, 0, 0, 0.329);
        background-color: #6b6bc3;
    }
    #img {
        width: 7%;
        
    }
    #img2 {
        width: 7%;
    }
    #img2 {
        position: absolute;
        top: 79%;
        left: 59%;
        transform: translate(-50%,-50%);
    }
    section {
        width: 70%;
        border: 2px solid rgba(11, 13, 14, 0.945)
    }
    #res {
        text-align: center;
    }
    footer {
        position: relative;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    footer:hover {
        font-size: 20px;
        background-color:#6b6bc3;
    } 
}