@charset "UTF-8";

@media screen and (min-width: 290px) and (max-width: 480px){
    
    body, html {
        background:red;
    }
    
   section {
       width: 200px;
       height: 320px;
   }
   #seltab {
       width: 150px;
   }
}  