@charset "UTF-8";

@media screen and (max-width: 600px) {
   
    section {
        width: 90%;
    }
    
    footer {
        width: 70%;
    }
    footer:hover {
        width: 70%;
    }
    #zap {
        position: relative;
        position:absolute;
        left: 60%;
        transform: translate(-50,-50);
    }
 }