@charset "UTF-8";

@media screen and (min-width:220px) and (max-width:600px) {
   
    

    section {
        width: 80%;
    }
    
    footer {
        width: 70%;
    }
    footer:hover {
        width: 70%;
    }
    #zap {
        position: relative;
        position:absolute;
        left: 60%;
        transform: translate(-50,-50);
    }
}