@charset "UTF-8";

@media screen  and (min-width: 280px) and (max-width: 700px){
    *{
        margin:0px;
    }
    body {
        background-image: url(multas2.png);
    }
}
@media screen  and (min-width: 505px) and (max-width: 700px){
    body{
        background-image: url(multas.webp);
    }
}