@charset "UTF-8";

@media screen and (min-width:280px) and (max-width:500px) {
header {
    position: relative;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}


section {
    width: 70%;
}
body {
    height: 100%vh;
}
}
#imagem {
    width: 100%;
    height: 100vh;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#img1 {
    width: 5%;
    position: relative;
    position: absolute;
    top: 70%;
    left: 47%;
    transform: translate(-50%,-50%);
}
#img2 {
    width: 5%;
    position: relative;
    position: absolute;
    top: 70%;
    left: 54%;
    transform: translate(-50%,-50%);
}
#foto1 {
    background-image: url(Imagens/night.jpg);
}
