



body {
    background: #6130cc;
    font: normal 15px arial;
}

header {
    color: white;
    margin: auto;
    text-align: center;
}
header:hover {
    font-size: 20px;
}
#img1 {
    border-radius: 30px;
}
#img1:hover{
    border: 2px solid rgba(0, 0, 0, 0.377);
}
#img2 {
    border-radius: 30px;
}
#img2:hover {
    border: 2px solid rgba(0, 0, 0, 0.37);
}


section {
     background: white;
     width: 500px;
     margin: auto;
     border-radius: 10px;
     padding: 15px;
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.466);
}

div {
    text-align: center;
    padding: 10px;
}
footer {
    color: white;
    text-align: center;
    font: italic;
}
footer:hover {
    font-size: 20px;
}